.container{
    text-align: center;
    margin-top: 23px;
    border-radius: 8px;
}

table{
    margin: auto;
    border-radius: 10px;
    background-color:#afb09b;
    height:300px;
    width: 350px;
}

input{
    border: 5px solid #808380;
    font-size: 27px;
    border-radius: 10px;
    
}
button{
    font-size: 35px;
    background-color:aqua;
    width: 82px;
    height: 45px;
    border-radius: 10px;
}
.calculator{
    border:2px solid red;
    padding: 23px;
    display: inline-block;
    border-radius: 8px;
    background-color: coral;
}
